@model List<TagGetDto>
<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Status</th>
			<th>Operation</th>
		</tr>
	</thead>
	<tbody>
		@foreach (TagGetDto tag in Model)
		{
			<tr>
				<td>@tag.Id</td>
				<td><b>@tag.Name</b></td>
				<td>
					@if (tag.isDeleted)
					{
						@:<span class="badge rounded-pill alert-danger">Deactive</span>
					}
					else
					{
						@:<span class="badge rounded-pill alert-success">Active</span>
					}
				</td>
				<td>
					<div class="dropdown">
						<a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
						@if (!tag.isDeleted)
						{
							<div class="dropdown-menu">
								<a class="dropdown-item" asp-action="Get" asp-controller="Tag" asp-route-id="@tag.Id">Show Details</a>
								<a class="dropdown-item" asp-action="Update" asp-controller="Tag" asp-route-id="@tag.Id">Edit</a>
								<a class="dropdown-item text-danger" asp-action="Delete" asp-controller="Tag" asp-route-id="@tag.Id">Delete</a>
							</div>
						}
						else
						{
							<div class="dropdown-menu">
								<a class="dropdown-item" asp-action="Get" asp-controller="Tag" asp-route-id="@tag.Id">Show Details</a>
								<a class="dropdown-item" asp-action="Recover" asp-controller="Tag" asp-route-id="@tag.Id">Recover</a>
								<a class="dropdown-item text-danger" asp-action="HardDelete" asp-controller="Tag" asp-route-id="@tag.Id">Hard Delete</a>
							</div>
						}
					</div> <!-- dropdown //end -->
				</td>
			</tr>
		}
	</tbody>
</table>