@using Entities.Concrete
@model IDataResult<ReviewGetDto>
<div class="card">
    <div class="card-body">
        <div class="row mb-50 mt-20 order-info-wrap">
            <div class="col-md-4">
                @foreach (BlogImage image in Model.Data.Blog.BlogImages)
                {
                    <img class="tbl-thumb" src="~/uploads/blog/@(image.ImagePath)" alt="Blog Image" style="width: 150px; height:150px;border-radius: 15px;" />
                }
            </div>
            <div class="col-md-8">
                <article class="icontext align-items-start">
                    <span class="icon icon-sm rounded-circle bg-primary-light">
                        <i class="text-primary material-icons md-person"></i>
                    </span>
                    <div>
                        <h6 class="mb-1">User</h6>
                        <p class="mb-1">
                            @Model.Data.User.FirstName @Model.Data.User.LastName <br> <template class="__cf_email__" data-cfemail="9bfaf7fee3dbfee3faf6ebf7feb5f8f4f6">@Model.Data.User.Email</template> <br>@Model.Data.User.PhoneNumber
                        </p>
                        <p class="mb-1">
                            <i class="icon material-icons md-comment"></i> @Model.Data.Comment
                        </p>
                        <p class="mb-1">
                            <i style="font-style:italic"> Date of writing:</i> @Model.Data.CreatedDate
                        </p>
                        <a asp-action="Get" asp-controller="User" asp-route-id="@Model.Data.User.Id">View profile</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
