@{
    ViewData["Title"] = "Profile";
}

@model IDataResult<UserGetDto>
<style>
    background-size: cover;
    }

    .author-card .author-card-cover::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: 0.5;
    }

    .author-card .author-card-cover > .btn {
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 0 10px;
    }

    .author-card .author-card-profile {
        display: table;
        position: relative;
        margin-top: -22px;
        padding-right: 15px;
        padding-bottom: 16px;
        padding-left: 20px;
        z-index: 5;
    }

        .author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
            display: table-cell;
            vertical-align: middle;
        }

        .author-card .author-card-profile .author-card-avatar {
            width: 85px;
            border-radius: 50%;
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
            overflow: hidden;
        }

            .author-card .author-card-profile .author-card-avatar > img {
                display: block;
                width: 100%;
            }

        .author-card .author-card-profile .author-card-details {
            padding-top: 20px;
            padding-left: 15px;
        }

        .author-card .author-card-profile .author-card-name {
            margin-bottom: 2px;
            font-size: 14px;
            font-weight: bold;
        }

        .author-card .author-card-profile .author-card-position {
            display: block;
            color: #8c8c8c;
            font-size: 12px;
            font-weight: 600;
        }

    .author-card .author-card-info {
        margin-bottom: 0;
        padding: 0 25px;
        font-size: 13px;
    }

    .author-card .author-card-social-bar-wrap {
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 100%;
    }

        .author-card .author-card-social-bar-wrap .author-card-social-bar {
            display: table;
            margin: auto;
            background-color: #fff;
            box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
        }

    .btn-style-1.btn-white {
        background-color: #fff;
    }

    .list-group-item i {
        display: inline-block;
        margin-top: -1px;
        margin-right: 8px;
        font-size: 1.2em;
        vertical-align: middle;
    }

    .mr-1, .mx-1 {
        margin-right: .25rem !important;
    }

    .list-group-item.active:not(.disabled) {
        border-color: #e7e7e7;
        background: #fff;
        color: #ac32e4;
        cursor: default;
        pointer-events: none;
    }

    .list-group-flush:last-child .list-group-item:last-child {
        border-bottom: 0;
    }

    .list-group-flush .list-group-item {
        border-right: 0 !important;
        border-left: 0 !important;
    }

    .list-group-flush .list-group-item {
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .list-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }

    a.list-group-item, .list-group-item-action {
        color: #404040;
        font-weight: 600;
    }

    .list-group-item {
        padding-top: 16px;
        padding-bottom: 16px;
        -webkit-transition: all .3s;
        transition: all .3s;
        border: 1px solid #e7e7e7 !important;
        border-radius: 0 !important;
        color: #404040;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .08em;
        text-transform: uppercase;
        text-decoration: none;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.125);
    }

</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container mb-4 main-container">
    <div class="row">
        <div class="col-lg-4 pb-5">
            <!-- Account Sidebar-->
            <div class="author-card pb-3">
                <div class="author-card-profile">

                    <div class="author-card-details">
                        <h1 class="author-card-name text-lg">@Model.Data.FirstName @Model.Data.LastName</h1><span class="author-card-position">@Model.Data.Email</span>
                    </div>
                </div>
            </div>
            <nav class="author-card">
                @*                <div>
                    <h3><i class="fa fa-user text-muted" style="margin-right:4px"></i>Profile Settings</h3>
                    </div>*@
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="ml-3"><i class="fa fa-bookmark mr-3 text-muted" style="margin-right:4px"></i>Saved<span class="badge badge-secondary">(@Model.Data.SavedItems.Count())</span></h3>

                </div>

                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="ml-3"><i class="fa fa-comment mr-3 text-muted" style="margin-right:4px"></i>Reviews<span class="badge badge-secondary">(@Model.Data.Reviews.Count())</span></h3>

                </div>
            </nav>
        </div>
        <!-- Orders Table-->
        <div class="col-lg-8 pb-5">
            <div class="card card-default">
                <div class="card-header justify-content-between mb-1">
                    <h2>Last Reviews</h2>
                    <div>
                        <button class="text-black-50 mr-2 font-size-20">
                            <i class="mdi mdi-cached"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body compact-notifications shadow" style=" background-color:#1e272e;margin:5px;border-radius:20px;padding:5px;" data-simplebar
                     style="height: 434px;">
                    @foreach (ReviewGetDto review in Model.Data.Reviews)
                    {
                        <div class="align-items-center card d-flex shadow pl-3">
                            <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-success text-white">
                                <i class="fas fa-comment font-size-40" style="font-size:25px;margin-right:5px;"></i>
                            </div>
                            <div class="media-body pr-3">
                                <a class="mt-0 mb-1 font-size-15" asp-action="Get" asp-controller="Blog" asp-route-id="@review.Blog.Id">@review.Blog.Title</a>
                                <span class=" font-size-12" style="margin-left:75px;">
                                    <i class="mdi mdi-clock-outline"></i>@review.CreatedDate
                                </span>
                                <p>Comment: @review.Comment</p>
                            </div>

                        </div>
                    }
                </div>
                <div class="mt-3"></div>
            </div>
        </div>
    </div>
</div>